/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

* {
    /* border: .5px solid greenyellow; */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

aside {
  height: 83%;
  width: 90%;
  overflow: scroll;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #2B2733;
    color: #CBC9CF;
    height: 90vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #46424D;
    color: #FFF;
    font-size: 2.5rem;
    height: 10vh;
}

.grey-box-timer {
  background-color: #46424D;
  width: 95%;
  height: 85%;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grey-box {
  background-color: #46424D;
  width: 95%;
  height: 85%;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}


.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: auto;
}

.just-in-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4vw;
  padding-right: 7vw;
}

.accomplish {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 5%;
  padding-bottom: 13%;
  margin-left: 6vw;
}

.accomplish-input {
  background: transparent;
  width: 47.5vw;
}

.minutes, .seconds {
  display: flex;
  flex-direction: column;
  padding-left: 4vh;
  width: 19vw;
  /* padding-bottom: 13%; */
}

.user-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #CBC9CF;
}

input, select, textarea{
    color: #FFF;
}
input:focus {
  background-color: transparent;
}

.start-activity {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 8vh;
}

.timer-area-container {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.new-activity-form {
    width: 66vw;
    margin: 2vh;
}

.new-activity-form h2 {
  margin-bottom: 1.5vh;
  margin-top: 1.5vh;
}

.past-activities {
    border-left-width: 0.25rem;
    border-left-color: #46424D;
    border-left-style: solid;
    width: 34vw;
    max-height: inherit;
}

.category-with-button {
  display: flex;
  flex-direction: column;
}

 h3 {
  /* font-weight: bolder; */
  padding-left: 6vw;
  padding-bottom: 1.5vh;
}

.select-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
  margin-bottom: 6vh;
  /* border: transparent; */
}

.category-btn:focus {
  outline:
}

input:focus {
  outline: #B3fd78;
}

input[type="submit"] {
    border-radius: 5px;
    margin-left: 14vw;
    width: 12vw;
    height: 5.5vh;
    color: black;
    margin-top: 2vh;
    margin-right: 7.5vw;
}

.category-btn {
  width: 11vw;
  height: 10vh;
  border-radius: 3px;
}

.card-holder {
  display: flex;
  justify-content: space-between;
  background-color: #46424D;
  margin: 1.25vw;
  height: 13vh;
  border-radius: .5vw;
}

.color-div-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 2vh;
  padding-right: 1vw;
}

.log-cards {
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

#categoryCard {
  font-weight: bold;
}

.study-btn {
  border: 1px solid #CBC9CF;
  background: url("assets/study.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.study-btn-active {
  border: 1px solid #CBC9CF;
  background: url("assets/study-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.meditate-btn {
  border: 1px solid #CBC9CF;
  background: url("assets/meditate.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.meditate-btn-active {
  border: 1px solid #CBC9CF;
  background: url("assets/meditate-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.exercise-btn {
  border: 1px solid #CBC9CF;
  background: url("assets/exercise.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.exercise-btn-active {
  border: 1px solid #CBC9CF;
  background: url("assets/exercise-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.start-btn {
  color: #CBC9CF;
  font-size: 1em;
  font-weight: bold;
}

.timer-area-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65%;
  box-sizing: border-box;
  /* border: .5px solid greenyellow; */
}

.timer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 21vw;
  height: 24vh;
  /* max-height: inherit; */
  box-sizing: border-box;
  font-size: 1em;
  font-weight: bold;
  /* border: .5px solid greenyellow; */
}

.study-time {
  border: 5px solid #FC8E88;
}

.current-activity-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: .25vw;
  padding-right: 6vw;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  box-sizing: border-box;
}

.timer-numbers {
  box-sizing: border-box;
  margin-bottom: 34.5vh;
}

.countdown {
  font-size: 3.65em;
  padding-bottom: 18.55vh;
}

.deep-timer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: static;
  height: 20vh;
  width: 21vw
  /* border: .5px solid greenyellow; */
}

.start {
  padding-left: 0;
  margin-bottom: 10.3vh;
  font-size: 1.5em;
  align-items: center;
}



.circle-div-border-study,
.circle-div-border-meditate,
.circle-div-border-exercise,
.circle-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38vh;
  width: 22.50vw;
  box-sizing: border-box;
  position: fixed;
  border-radius: 50%;
}

.circle-div-border-study {
  border: 5px solid #B3FD78;
}

.circle-div-border-meditate {
  border: 5px solid #BD8CE4;
}

.circle-div-border-exercise {
  border: 5px solid #FD8078;
}

.log-button {
  width: 18vw;
  height: 5vh;
  margin-top: 4vh;
  border-radius: 0.8vh;
  box-sizing: border-box;
  font-weight: bold;
}

.log-activity {
  height: 15vh;

  display: flex;
  flex-direction: row-reverse;
  padding-right: 21.55vw;
}

.past-text {
  padding-left: 3vh;
}

.empty-activites {
  text-align: center;
}
.hidden {
  display: none;
}
